<% include header.ejs %>
<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading"><h4>购物清单</h4></div>
        <span id="pay_date"></span>
        <div class="panel-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>分类</th>
                    <th>名称</th>
                    <th>单价(元)</th>
                    <th>单位</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
                </thead>
                <tbody class="item-body">
                <% goods.forEach(function(shop,index){ %>
                <tr class="good_body">
                    <td class="hidden item_id"><%=shop._id%></td>
                    <td><%= shop.type || "无"%></td>
                    <td class="item_name"><%= shop.name || "无"%></td>
                    <td class="item-price"><%= shop.price || "无"%></td>
                    <td><%= shop.unit || "无"%></td>
                    <td class="hidden item-savecount"><%= shop.savecount %></td>
                    <td><div class="btn-group"><button class="btn btn-default item-minus">-</button>
                            <button class="btn btn-default item-count"  disabled="disabled"><%= shop.count%></button>
                            <button class="btn btn-default item-add">+</button></div></td>

                    <%if(!shop.savecount){%>
                        <td class="item-single-price"><%= (shop.price * shop.count).toFixed(2)%>元</td>
                    <%}else {%>
                    <td class="item-single-price"><%= (shop.price * (shop.count-shop.savecount)).toFixed(2)%>元(原价:<%=(shop.price * shop.count).toFixed(2)%>元)</td>
                    <%}%>
                </tr>
                <% })%>
                </tbody>
            </table>
        </div>

        <div class="side-space text-right">
            <p>总计：<span id="total_price"><%= total_price %>元</span></p>
            <a class="btn btn-primary vertical-space" href="/payment">付款</a>
        </div>
    </div>
</div>

<% include footer.ejs %>
